<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practica_semana_10.Properties.Settings.biblioteca10ConnectionString"
            connectionString="server=localhost;user id=biblioteca10;password=campos9010;persistsecurityinfo=True;database=biblioteca10"
            providerName="MySql.Data.MySqlClient" />
        <add name="Practica_semana_10.Properties.Settings.bibliotecaConnectionString"
            connectionString="server=localhost;user id=biblioteca;password=trejo1090;database=biblioteca;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Practica_semana_10.Properties.Settings.bibliotecaConnectionString1"
            connectionString="server=localhost;user id=biblioteca;password=trejo1090;persistsecurityinfo=True;database=biblioteca"
            providerName="MySql.Data.MySqlClient" />
        <add name="Practica_semana_10.Properties.Settings.bibliotecaConnectionString2"
            connectionString="server=localhost;user id=biblioteca;password=trejo1090;database=biblioteca"
            providerName="MySql.Data.MySqlClient" />
        <add name="Practica_semana_10.Properties.Settings.bibliotecaConnectionString3"
            connectionString="server=localhost;user id=biblioteca;database=biblioteca;password=trejo1090"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>